.main__calculate-button {
    margin-top: 5%;
    padding: 0 7%;
    font-size: 18px;
    line-height: 150%;
    border-radius: 2px;
    background-color: rgb(27, 27, 30);
    color: rgb(255, 255, 0);
    border: 1px solid rgb(255, 255, 0);
}
