.main__calculate-button {
    margin-top: 5%;
    padding: 0 7%;
    font-size: 1.1rem;
    line-height: 150%;
    align-self: baseline;
    border-radius: $border-rad;
    background-color: $background;
    color: $main;
    border: $border-style;
    font-family: $font;
    align-self: center;
    transition: 0.2s;
    cursor: pointer;
}

.main__calculate-button:hover {
    background-color: $main;
    color: $background;
}
