.main__current-price {
    opacity: 0;
    transform: translateY(100%);
    overflow: hidden;
    color: $main;
    transition: 0.2s cubic-bezier(0.71, -0.55, 0.3, 1.61);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3%;
    font-family: $font;
}
.main__current-price.main__current-price--active {
    opacity: 1;
    transform: translateY(0%);
}
