.main__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: $main;
    margin-bottom: 2%;
    font-family: $font;
    .footer__gh-icon {
        margin-left: 1%;
        color: inherit;
    }
}
