.main__settings-modal {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);

    background-color: rgb(27, 27, 30);
    border: 1px solid rgb(255, 255, 0);
    border-radius: 2px;
    color: rgb(255, 255, 0);
    width: 70%;
    padding: 5% 8%;
    height: 15%;
    font-size: 18px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: space-around;
        .modal__separators .separators__button {
            margin-left: 5px;
            width: 15px;
            background-color: rgb(27, 27, 30);
            border: 1px solid rgb(255, 255, 0);
            border-radius: 2px;
            color: rgb(255, 255, 0);
            font-weight: bold;
        }
        .separators__button.separators__button--active {
            color: rgb(27, 27, 30);
            background-color: rgb(255, 255, 0);
        }
    }
}
.main__settings-modal--active {
    display: flex;
}
