.main__settings-button {
    position: absolute;
    right: 0px;
    top: 4%;
    color: $main;
    background-color: $background;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.71, -0.55, 0.3, 1.61);
}

.main__settings-button:hover {
    transform: rotate(50deg);
}
